<div class="internal-loader" fxLayoutAlign="center start" *ngIf="isLoading" fxFlexFill>
    <app-loader></app-loader>
</div>
<div>
  <div class="page-info">
    <div fxLayout="row" fxLayoutAlign="start center" class="page-info--description" *ngIf="!isLoading">
      Set up Xero Tenant.
      <a href="https://www.fylehq.com/help/en/articles/4601898-onboarding-process-to-set-up-fyle-xero-integration" target="_blank" rel="noopener noreferrer" class="read-more-link" fxLayout="row" fxLayoutAlign="start center">Read more<mat-icon class="read-more-link--icon">open_in_new</mat-icon></a>
    </div>
  </div>
    <form class="general-mappings--form" [formGroup]="tenantForm" *ngIf="!isLoading">
      <div fxLayout="column" fxLayoutAlign="start stretch">
        <div class="mat-body-strong">
          Xero Tenant
          <mandatory-field></mandatory-field>
        </div>
        <mat-form-field floatLabel="always" appearance="outline" required>
          <mat-select class="general-mappings--input" placeholder="Select Xero Tenant" formControlName="xeroTenant">
            <mat-option *ngFor="let tenant of xeroTenants;" [value]="tenant.destination_id">
              {{tenant.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mandatory-error-message listName="tenant" *ngIf="tenantForm.controls.xeroTenant.touched && !tenantForm.controls.xeroTenant.valid"></mandatory-error-message>

        <div class="mat-body-strong">
          Current Status
          <mat-icon
            class="status-icon"
            [ngClass]="{'status-icon--connected': connectedToXero, 'status-icon--disconnected' : !connectedToXero }"

            mat-list-icon
            [matTooltip]="connectedToXero ? 'Connected' : 'Disconnected'"
            matTooltipPosition="right">
              {{connectedToXero ? 'check_circle' : 'clear'}}
          </mat-icon>
        </div>

        <div fxLayout="row" class="action-buttons">
          <div>
            <button [disabled]="!tenantForm.valid" class="configurations--save-btn" mat-flat-button color="primary" (click)="submit()" type="submit">
              Save
            </button>
          </div>
          <div class="xero-btn">
            <img *ngIf="connectedToXero" src="../../../../../assets/images/svgs/disconnect-white.svg" width="85%" (click)="disconnectFromXero()">
            <img *ngIf="!connectedToXero" src="../../../../../assets/images/svgs/connect-white.svg" width="85%" (click)="connectToXero()">
          </div>
        </div>
      </div>
    </form>
  </div>