<div class="internal-loader" fxLayoutAlign="center start" *ngIf="isLoading" fxFlexFill>
    <app-loader></app-loader>
  </div>
  
  <div class="general-mappings" *ngIf="!isLoading">
    <div class="page-header general-mappings--header">
      <div class="page-header--name mat-h2">
        General Mappings
      </div>
    </div>
    <div class="page-info">
      <div fxLayout="row" fxLayoutAlign="start center" class="page-info--description">
        Set up the following Xero fields.
        <a href="https://www.fylehq.com/help/en/articles/4601898-onboarding-process-to-set-up-fyle-xero-integration" target="_blank" rel="noopener noreferrer" class="read-more-link" fxLayout="row" fxLayoutAlign="start center">Read more<mat-icon class="read-more-link--icon">open_in_new</mat-icon></a>
      </div>
    </div>
    <form class="general-mappings--form" [formGroup]="form" (ngSubmit)="submit()">
      <div fxLayout="column" fxLayoutAlign="start stretch">

        <div class="mat-body-strong" *ngIf="generalSettings.corporate_credit_card_expenses_object">
          Default Bank Account
          <mandatory-field *ngIf="isFieldMandatory('bankAccounts')"></mandatory-field>
          <mat-icon [inline]="true" class="info-icon" matTooltip="The default bank account against which bank transactions will be created" matTooltipPosition="after">info</mat-icon>
        </div>
        <mat-form-field floatLabel="always" appearance="outline" *ngIf="generalSettings.corporate_credit_card_expenses_object" required>
          <mat-select class="general-mappings--input" placeholder="Select bank account" formControlName="bankAccounts">
            <mat-option *ngFor="let bankAccount of bankAccounts; let i = index" [value]="bankAccounts[i].destination_id">
              {{bankAccounts[i].value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mandatory-error-message listName="bank account" *ngIf="form.controls.bankAccounts.touched && !form.controls.bankAccounts.valid"></mandatory-error-message>

        <div class="mat-body-strong" *ngIf="generalSettings.sync_fyle_to_xero_payments">
          Payment Account
          <mandatory-field *ngIf="isFieldMandatory('paymentAccounts')"></mandatory-field>
        </div>
        <mat-form-field floatLabel="always" appearance="outline" required
          *ngIf="generalSettings.sync_fyle_to_xero_payments">
          <mat-select class="general-mappings--input" placeholder="Select Payment Account"
            formControlName="paymentAccounts">
            <mat-option *ngFor="let bankAccount of paymentAccounts; let i = index" [value]="paymentAccounts[i].destination_id">
              {{paymentAccounts[i].value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mandatory-error-message listName="payment account" *ngIf="form.controls.paymentAccounts.touched && !form.controls.paymentAccounts.valid"></mandatory-error-message>

      <div class="mat-body-strong" *ngIf="generalSettings.import_tax_codes">
        Default Tax Code
        <mandatory-field *ngIf="isFieldMandatory('xeroTaxCodes')"></mandatory-field>
        <mat-icon
          [inline]="true"
          class="info-icon"
          matTooltip="The default Tax Code would be applied to exported expenses in case the original expense in Fyle does not carry any Tax Group."
          matTooltipPosition="after">
            info
        </mat-icon>
      </div>
        <mat-form-field floatLabel="always" appearance="outline" required
          *ngIf="generalSettings.import_tax_codes">
          <mat-select class="general-mappings--input" placeholder="Select Tax Group"
            formControlName="xeroTaxCodes">
            <mat-option *ngFor="let taxCode of taxCodes; let i = index" [value]="taxCodes[i].destination_id">
              {{taxCodes[i].value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mandatory-error-message listName="default tax code" *ngIf="form.controls.xeroTaxCodes.touched && !form.controls.xeroTaxCodes.valid"></mandatory-error-message>
      </div>

      <button [disabled]="!form.valid" class="configurations--save-btn" mat-flat-button color="primary" (click)="submit()" type="submit">
        Save
      </button>
    </form>
  </div>