@import 'variables.scss';

$text-error: #ff6e40;

::ng-deep .expense-fields {
  &--header {
    border-bottom: 1px solid $fy-layout-background;
  }

  &--form {
    font-size: 14px;
    margin: 24px;
    max-width: 1000px;
    color: $fy-nav-text;
  }

  &--add-icon {
    text-align: center;
    cursor: pointer;
    padding-left: 10px;
    padding-bottom: 25px;
    max-width: 24px;
    max-height: 24px;
  }

  &--custom-option {
    font-weight: 500;
    padding-bottom: 10px;
  }

  &--custom-option-text {
    padding-left: 25px;
  }

  &--add-custom-icon {
    text-align: center;
    position: absolute;
    max-width: 20px;
    max-height: 24px;
    padding: 10px 0px;
  }

  &--delete-icon {
    text-align: center;
    cursor: pointer;
    max-width: 20px;
    max-height: 20px;
    padding-left: 10px;
    padding-bottom: 25px;
  }

  &--label {
    font-size: 14px;
    margin-bottom: 4px;
  }

  &--input {
    .mat-select-value-text {
      color: $fy-nav-text;
    }
  }

  &--save-btn {
    max-width: 32px;
  }

  &--errors {
    font-size: 14px;
    margin: 0 0 16px;
    color: $text-error;
    margin-top: 12px;
    position: relative;
    top: -12px;
  }
}

.toggle {
  margin-bottom: 32px;
  margin-left: 6%;
}

.info-icon {
  text-align: center;
  cursor: default;
  padding-left: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  max-height: 24px;
  vertical-align: middle;
}

.warning {
  max-width: 24px;
  color: #DA1E28;
}

.main {
  max-width: 24px;
  color: #5C98E5;
}

.import {
  max-width: 18px;
}

.import-info-icon {
  text-align: center;
  cursor: default;
  padding-left: 5px;
  padding-bottom: 5px;
  max-width: 20px;
  max-height: 20px;
  font-size: 20px;
  vertical-align: middle;
}

.custom-field-box {
  min-width: 85%;
  border: 1px solid $fy-card-border;
  margin-left: 50%;
}

.info-box {
  margin: 16px 24px;
}

.info-box-text {
  font-size: 13.25px;
  border: 1px solid rgba(0, 98, 255, 4%);
  padding: 2px;
  background: rgba(0, 98, 255, 2%);
  background-clip: padding-box;
}

.fields-header {
  font-weight: 450;
  font-size: 18px;
  &--fyle {
    margin-right: 11%;
  }
}

.map {
  margin-left: 40px;
  margin-bottom: 15px;
}

.import-toggle {
  margin-left: 6%;
}

.custom-field-name {
  font-size: 12px;
  min-width: 100%;
  max-width: 100%;
  min-height: 75px;
  max-height: 100px;
  margin-top: 12px;
}

.existing-field-warning {
  border: 1px solid rgba(218,30,40,4%);
  background: rgb(218,30,40,2%);
  background-clip: padding-box;
  margin-bottom: 19px;
  margin-top: -15px;
}

.custom-field-grp {
  margin-top: -10px;
}

.custom-field-btn {
  min-width: 35%;
  padding: 0% 11%;
}

.add-row-text {
  margin-top: 4px;
  margin-left: 10px;
  color: #e91e63;
  cursor: pointer;
  font-weight: 450;
}
