<mat-sidenav-container class="xero" autosize fxFlexFill *ngIf="!isLoading">
  <mat-sidenav class="xero-sidenav" mode="side" opened>
    <mat-nav-list>
      <header matSubheader class="xero-sidenav--header">
        <img alt="Fyle" src="../../assets/images/pngs/fyle-logo.png" class="xero-sidenav--logo" />
        <mat-icon>add</mat-icon>
        <img alt="xero" src="../../../assets/images/pngs/xero-logo.png" class="xero-sidenav--nslogo">
      </header>

      <a class="mat-h2 xero-sidenav--nav-item" mat-list-item routerLink="{{workspace.id}}/dashboard"
        routerLinkActive="active">
        Dashboard
      </a>

      <a class="mat-h2 xero-sidenav--nav-item" [ngClass]="{'xero-sidenav--nav-item__disabled': navDisabled}" mat-list-item routerLink="{{workspace.id}}/sync_export/sync"
        routerLinkActive="active">
        Import & Export
      </a>

      <a class="mat-h2 xero-sidenav--nav-item" [ngClass]="{'xero-sidenav--nav-item__disabled': navDisabled}" mat-list-item routerLink="{{workspace.id}}/expense_groups/"
        routerLinkActive="active">
        Expense Groups
      </a>

      <a class="mat-h3 xero-sidenav--nav-item" mat-list-item>
        Settings
      </a>
      <a class="mat-h3 xero-sidenav--nav-sub-item" *ngIf="!xeroConnected" [ngClass]="{'xero-sidenav--nav-sub-item__disabled': navDisabled}" mat-list-item
       routerLink="{{workspace.id}}/settings/configurations/general/" routerLinkActive="active" (click)="onConfigurationsPageVisit()">
        Configurations
      </a>
      <a class="mat-h3 xero-sidenav--nav-sub-item" *ngIf="xeroConnected" [ngClass]="{'xero-sidenav--nav-sub-item__disabled': navDisabled}" mat-list-item
       routerLink="{{workspace.id}}/settings/configurations/tenant/" routerLinkActive="active" (click)="onSelectTenantPageVisit()">
        Configurations
      </a>
      <a class="mat-h3 xero-sidenav--nav-sub-item" *ngIf="showGeneralmappings" [ngClass]="{'xero-sidenav--nav-sub-item__disabled': navDisabled}" mat-list-item routerLink="{{workspace.id}}/settings/general/mappings/"
        routerLinkActive="active" (click)="onGeneralMappingsPageVisit()">
        General Mappings
      </a>
      <a class="mat-h3 xero-sidenav--nav-sub-item" [ngClass]="{'xero-sidenav--nav-sub-item__disabled': navDisabled}" mat-list-item
      routerLink="{{workspace.id}}/settings/employee/mappings/" routerLinkActive="active" (click)="onEmployeeMappingsPageVisit()">
        Employee Mappings
      </a>
      <a class="mat-h3 xero-sidenav--nav-sub-item" [ngClass]="{'xero-sidenav--nav-sub-item__disabled': navDisabled}" mat-list-item
      routerLink="{{workspace.id}}/settings/category/mappings/" routerLinkActive="active" (click)="onCategoryMappingsPageVisit()">
        Category Mappings
      </a>
      <div *ngFor="let setting of mappingSettings">
        <a class="mat-h3 xero-sidenav--nav-sub-item" [ngClass]="{'xero-sidenav--nav-sub-item__disabled': navDisabled}" mat-list-item routerLink="{{workspace.id}}/settings/{{setting.source_field.toLowerCase()}}/mappings/"
        routerLinkActive="active">
          {{ getTitle(setting.source_field) | titlecase }} Mappings
       </a>
      </div>
      <a class="mat-h3 xero-sidenav--nav-sub-item" [ngClass]="{'xero-sidenav--nav-sub-item__disabled': navDisabled}" mat-list-item routerLink="{{workspace.id}}/settings/schedule/"
        routerLinkActive="active">
        Automated Import/Export
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar fxLayoutAlign="space-between center">
      <div class="xero--title" fxLayout="row" fxLayoutAlign="space-around center">
        <div class="mat-small">
          Fyle Org Name:
          <span class="xero--title-fyle-org">
            {{user.org_name}}
          </span>
        </div>
        <div class="mat-small xero--title-separator" *ngIf="user.org_name || showSwitchApp">
          |
        </div>
        <div class="mat-small" *ngIf="user.org_name">
          Xero Company Name:
          <span class="xero--title-xero-org">
            {{user.org_name}}
          </span>
        </div>
        <div class="mat-small xero--title-separator" *ngIf="user.org_name && showSwitchApp">
          |
        </div>
        <div *ngIf="showSwitchApp" (click)="switchToNewApp()" fxLayout="row" fxLayoutAlign="space-between center"
          class="switcher--back-btn">
          <img src="assets/images/svgs/sync.svg" class="switcher--back-btn-arrow" width="12px" height="9px" />
          <span class="switcher--btn-icon">Switch to Integration 2.0</span>
        </div>
        
        <div class="mat-small" *ngIf="showRefreshIcon">
          <mat-icon class="refresh"
            mat-list-icon
            matTooltip="Sync Fyle and Xero Dimensions"
            matTooltipPosition="right" (click)="syncDimension()">
              sync
          </mat-icon>
        </div>
      </div>

      <mat-menu class="xero--menu" #appMenu="matMenu" xPosition="before">
        <button type="button" mat-menu-item *ngIf="orgsCount > 0" (click)="switchWorkspace()">
          <div fxLayoutAlign="space-around center">
            <mat-icon class="xero--menu-icon">
              swap_horiz
            </mat-icon>
            <strong class="xero--menu-text">
              Switch Org
            </strong>
          </div>
        </button>
        <button type="button" mat-menu-item [routerLink]="['../auth/logout']" (click)="onSignOut()">
          <div fxLayoutAlign="space-around center">
            <mat-icon class="xero--menu-icon">
              power_settings_new
            </mat-icon>
            <strong class="xero--menu-text">
              Sign Out
            </strong>
          </div>
        </button>
      </mat-menu>

      <div class="xero--menu" [matMenuTriggerFor]="appMenu">
        <div fxLayoutAlign="space-around center">
          <mat-icon class="xero--menu-icon">
            account_circle
          </mat-icon>
          <strong class="xero--menu-text">{{user.full_name}}</strong>
          <mat-icon class="xero--menu-icon xero--menu-icon__offset">
            keyboard_arrow_down
          </mat-icon>
        </div>
      </div>

    </mat-toolbar>
    <div class="xero-body">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div fxLayoutAlign="center center" fxFlexFill *ngIf="isLoading">
  <app-loader></app-loader>
</div>
