<div class="internal-loader" fxLayout="column" fxLayoutAlign="center center" *ngIf="isLoading" fxFlexFill>
  <app-loader></app-loader>
</div>

<div *ngIf="!isLoading" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="sync-header" fxLayout="row" fxLayoutAlign="start center">
    Import Expenses from Fyle App. <a href="https://www.fylehq.com/help/en/articles/4424242-fyle-netsuite-integration" target="_blank" rel="noopener noreferrer" class="read-more-link" fxLayout="row" fxLayoutAlign="start center">Read more<mat-icon class="read-more-link--icon">open_in_new</mat-icon></a>
  </div>
  <div fxLayout="column" fxLayoutAlign="start center">
    <mat-card class="sync-card">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex="60">
					<div class="sync-card--header">
						Import Expenses
					</div>
					<div fxLayout="column" fxLayoutAlign="space-around start" >
						<div class="sync-card--text" *ngIf="getDescription().expensesGroupedBy">
							Expenses Grouped by: {{ getDescription().expensesGroupedBy }}
						</div>
						<div class="sync-card--text">
							Expense State: {{ getDescription().expenseState | titlecase }}
						</div>
						<div class="sync-card--text" *ngIf="getDescription().exportDateType">
							Export Date: {{ getDescription().exportDateType}}
						</div>
					</div>
          <div class="sync-card--info" *ngIf="lastTask">
            Last imported on {{lastTask.updated_at | date}}
          </div>
				</div>
				<div>
					<button type="button" class="sync-card--secondary-button" mat-flat-button (click)="open()">
						<div>
							Advanced Import Settings
						</div>
					</button>
				</div>
        <div>
          <button type="button" [disabled]="isExpensesSyncing" mat-flat-button color="primary" (click)="syncExpenses()">
            <div *ngIf="!isExpensesSyncing">
              Import
            </div>
            <div *ngIf="isExpensesSyncing">
              Importing
            </div>
          </button>
        </div>
      </div>
      <div *ngIf="errorOccurred" class="sync-card--error" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="sync-card--error-icon">error</mat-icon>
        <div>
          An error occurred while importing the Expenses. Please try again.
        </div>
      </div>
    </mat-card>
  </div>
</div>