@import 'variables.scss';

$fy-view-expense-header: rgba(0, 0, 0, 0.12);

.page-header {
  &__border {
    border-bottom: 1px solid $fy-view-expense-header;
  }

  &--go-back {
    margin-right: 12px;
  }
}
