<div *ngIf="!isLoading">
    <div class="page-header mappings--header">
      <div class="page-header--name mat-h2">
        Category Mappings
      </div>
    </div>
    <div class="page-info">
      <div fxLayout="row" fxLayoutAlign="start center" class="page-info--description">
        Map category items from Fyle to their counterparts on NetSuite.<a href="https://www.fylehq.com/help/en/articles/4424248-onboarding-process-to-set-up-fyle-netsuite-integration" target="_blank" rel="noopener noreferrer" class="read-more-link" fxLayout="row" fxLayoutAlign="start center">Read more<mat-icon class="read-more-link--icon">open_in_new</mat-icon></a>
      </div>
      <button class="page-info--primary-action" mat-flat-button color="primary" type="button" (click)="open()">
        Create Category Mapping
      </button>
    </div>
  
    <div *ngIf="!categoryMappings.length && !isLoading">
      <zero-state message="You have no category mappings yet"></zero-state>
    </div>
  
    <div *ngIf="categoryCCCMappings.length" [hidden]="isLoading">
      <table mat-table [dataSource]="categoryCCCMappings" class="page-table" matSort matSortActive="created_at"
        matSortDisableClear matSortDirection="desc">
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef> Category </th>
          <td mat-cell *matCellDef="let element">
            {{element.fyle_value}}
          </td>
        </ng-container>
  
        <ng-container matColumnDef="netsuite">
          <th mat-header-cell *matHeaderCellDef> {{generalSettings.reimbursable_expenses_object === 'EXPENSE REPORT'? 'Netsuite Expense Category': 'Netsuite Account'}} </th>
          <td mat-cell *matCellDef="let element">
            {{element.netsuite_value}}
          </td>
        </ng-container>

        <ng-container matColumnDef="ccc">
          <th mat-header-cell *matHeaderCellDef> Credit Card Expense {{generalSettings.corporate_credit_card_expenses_object === 'EXPENSE REPORT'? 'Category': 'Account'}} </th>
          <td mat-cell *matCellDef="let element">
            {{element.ccc_value}}
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" (click)="open(row)"></tr>
      </table>
    </div>
  </div>
  
  <div class="internal-loader" fxLayoutAlign="center start" *ngIf="isLoading" fxFlexFill>
    <app-loader></app-loader>
  </div>