<div class="page-header">
    <div class="page-header--name mat-h2">
      Expense Groups
    </div>
    <nav mat-tab-nav-bar>
      <a mat-tab-link (click)="changeState('FAILED')" [active]="state==='FAILED'">
        Failed
      </a>
      <a mat-tab-link (click)="changeState('COMPLETE')" [active]="state==='COMPLETE'">
        Complete
      </a>
    </nav>
  </div>
  
  <div class="internal-loader" fxLayoutAlign="center start" *ngIf="isLoading" fxFlexFill>
    <app-loader></app-loader>
  </div>
  
  <div class="page-info" *ngIf="!isLoading && count" fxLayoutAlign="end center">
    <mat-form-field class="simple-search" appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)">
      <span matPrefix>
        <mat-icon class="simple-search--icon" aria-hidden="false" aria-label="Search">search </mat-icon>
      </span>
    </mat-form-field>
  </div>
  
  <div *ngIf="!count && !isLoading">
    <zero-state message="You have no expense groups yet"></zero-state>
  </div>
  
  <div *ngIf="count" [hidden]="isLoading">
    <table mat-table [dataSource]="expenseGroups" class="page-table" matSort matSortActive="created_at"
      matSortDisableClear matSortDirection="desc">  

      <ng-container matColumnDef="export-date">
        <th mat-header-cell *matHeaderCellDef> Exported On </th>
        <td mat-cell *matCellDef="let element"> {{element.exported_at | date}} </td>
      </ng-container>

      <ng-container matColumnDef="employee">
        <th mat-header-cell *matHeaderCellDef> Employee </th>
        <td mat-cell *matCellDef="let element"> {{element.description.employee_email}} </td>
      </ng-container>
  
      <ng-container matColumnDef="export">
        <th mat-header-cell *matHeaderCellDef> Exported to NetSuite as </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.fund_source === 'PERSONAL'">
            {{settings.reimbursable_expenses_object | titlecase}}
          </div>
  
          <div *ngIf="element.fund_source !== 'PERSONAL'">
            {{settings.corporate_credit_card_expenses_object | titlecase}}
          </div>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="expensetype">
        <th mat-header-cell *matHeaderCellDef> Expense Type </th>
        <td mat-cell *matCellDef="let element">
          {{element.fund_source === 'PERSONAL' ? 'Reimbursable' : 'Corporate Credit Card'  }}
        </td>
      </ng-container>
  
      <ng-container matColumnDef="openNetSuite">
        <th mat-header-cell *matHeaderCellDef> Open in NetSuite </th>
        <td mat-cell *matCellDef="let element">
          <div class="page-table--redirect-column" fxLayout="row" fxLayoutAlign="center center">
            <mat-icon class="page-table--icon cursor-pointer" (click)="openInNetSuiteHandler(element)">
              open_in_new
            </mat-icon>
          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr class="page-table--row page-table--row__pointer cursor-pointer" mat-row *matRowDef="let row; columns: columnsToDisplay;"
        (click)="goToExpenseGroup(row.id)"></tr>
    </table>
  
    <mat-paginator [length]="count" [pageSizeOptions]="[5, 10, 20]" [pageSize]="pageSize" [pageIndex]="pageNumber"
      (page)="onPageChange($event)" showFirstLastButtons></mat-paginator>
  </div>