/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
@import '~@angular/material/theming';
@import './assets/stylesheets/fy-theme.scss';
@import 'variables.scss';
@import './assets/stylesheets/utility.scss';

$fy-nav-hover: rgba(0, 0, 0, 0.039);
$fy-autocomplete-border: rgba(211, 211, 211, 0.451);
$fy-stepper-selected-icon: rgba(0, 0, 0, 0.541);
$fy-steppper-number: #48555f;
$fy-menu-text: #333;

html,
body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@include angular-material-theme($fy-theme);  
 
// some issue is there with mat select options going transparent
.mat-select-panel {
  background-color: $fy-white;
}

.mat-option:hover {
  background-color: $fy-nav-hover;
}
// This is a fix for select panels becoming transparent under certain cases
.mat-select-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

.mat-dialog-container {
  background-color: $fy-white;
  border-radius: 4px;
}

.mat-autocomplete-panel {
  background-color: $fy-white;
  border: 1px solid $fy-autocomplete-border;
}

simple-snack-bar span { // @vikas wanted a center aligned snack-bar :P
  margin: auto;
  text-align: center;
}

.onboarding-stepper {
  .mat-vertical-stepper-content { 
    visibility: visible !important; 
    height: 100% !important; 
  }
  
  .mat-vertical-stepper-header {
    padding-bottom: 0 !important;
  }

  .mat-step-icon-selected {
    background-color: $fy-stepper-selected-icon !important;
  }

  .mat-step-icon-state-number {
    background-color: $fy-steppper-number !important;
  }

  .mat-step-icon {
    height: 32px;
    width: 32px;
    position: relative;
    top: -8px;
    left: -4px;
  }

  .mat-step-header {
    .mat-step-label {
      position: relative;
      top: -5px;
    }
  }
  .mat-step-header:hover {
    background-color: transparent;
  }

  .mat-vertical-content {
    background-color: $fy-highlighted-background;
    margin: 0 16px 16px 32px;
    padding: 0 8px 12px 12px;
    max-width: 600px;
  }
}

.mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
  padding: 0 !important;
}

.xero {
  &--menu {
    &-icon {
      color: $fy-menu-text;
      margin: 4px;
      &__active {
        color: $fy-menu-text;
      }
    }

    &-text {
      color: $fy-menu-text;
    }
  }

  &--title {
    font-size: 14px;
    color: $fy-title-text;
    &-fyle-org {
      font-weight: 500;
    }

    &-separator {
      margin: 8px;
    }

    &-xero-org {
      font-weight: 500;
    }
  }

  .simple-search {
    &>.mat-form-field-wrapper {
      padding: 0;
    }
  }
}