@include mat-core();

// warning color palette
$fy-warning: (
    50 : #fbe4e5,
    100 : #f4bcbf,
    200 : #ed8f94,
    300 : #e56269,
    400 : #e04048,
    500 : #da1e28,
    600 : #d61a24,
    700 : #d0161e,
    800 : #cb1218,
    900 : #c20a0f,
    A100 : #ffeded,
    A200 : #ffbabb,
    A400 : #ff8789,
    A700 : #ff6e70,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
// mat-palette accepts $palette-name, main, lighter and darker variants
$fy-theme-primary: mat-palette($mat-pink);
$fy-theme-accent: mat-palette($mat-gray);
$fy-theme-warn: mat-palette($fy-warning);


// create theme (use mat-dark-theme for themes with dark backgrounds)
$fy-theme: mat-light-theme(
    $fy-theme-primary,
    $fy-theme-accent,
    $fy-theme-warn
);