$fy-white: #fff;
$fy-layout-background: #f4f4f4;
$fy-highlighted-background: #fafafa;
$fy-nav-text: #5a6169;
$fy-nav-active-background: #d8d8d8;
$fy-primary: #f36;
$fy-secondary: #dbdbdbde;
$fy-info: #5c98e5;
$fy-title-text: #5a5d72;
$fy-card-border: rgba(169, 172, 188, 0.322);
